<footer class="footer">
  <div class="container">
    <p class="copy text-muted">&copy 2015 Eventhub. All Rights Reserved.
      Made with
      <i class="fa fa-heart fa-fw heart-icon"></i> in SL</p>
  </div>
</footer>
