<div class="container">
  <div class="row">

    <h1>Edit Event : <%= @event.title %></h1>

    <div class="row">
      <div class="col-md-12">

        <%= render 'form' %>

      </div>

    </div>

    <div class="row">

      <div class="col-md-12">

        <%= link_to 'View', @event, class: 'btn btn-default' %>
        <%= link_to 'Cancel', events_path, class: 'btn btn-default' %>

      </div>

    </div>

  </div>
</div>
