<h1>Editing Event</h1>

<div class="row">

  <%= render 'form' %>

</div>

<div class="row">

  <%= link_to 'Show', @event, class: 'btn btn-default' %> |
  <%= link_to 'Back', events_path, class: 'btn btn-default' %>

</div>
