<div class="container page-container">
  <div class="row">
    <div class="col-md-12">
      <h2>Create New Event</h2>
      <%= render 'form2' %>

      <%= link_to 'Cancel', events_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
