
<! -- ********** HEADER ********** -->
<div id="h">
  <div class="container">
    <div class="row">
        <li><button class="btn btn-lg btn-info btn-register">Create Event</button></li>
        <div class="col-md-10 col-md-offset-1 mt">
          <h3>We let you experiance life</h3>
          <h1 class="mb">EventHub.lk</h1>
        </div>
        <div class="col-md-12 mt hidden-xs">
          <%= image_tag "promo/graph.png", class: 'img-responsive aligncenter', data: { effect: 'slide-bottom' } %>
          <!-- <img src="assets/img/graph.png" class="" alt="" data-effect="slide-bottom"> -->
        </div>
    </div>
  </div><! --/container -->
</div><! --/h -->

<! -- ********** FIRST ********** -->
<div id="w">
  <div class="row nopadding">
    <div class="col-md-5 col-md-offset-1 mt">
              <br> <br>
      <h3>Event Hosting, Made Easy</h3>
      <p>Hosting an event on EventHub only takes a few clicks!</p>
      <p>Click the big "create event" button, sign in to your account, fill out the details and click the publish button! Done!</p>
      <p>Within a few hours your event will appear on EventHub, provided the event passes our authenticity check!</p>
      <p class="mt"><button class="btn btn-info btn-theme">Create Event Now</button></p> <!--link this button to the create event page -->
    </div>

    <div class="col-md-6 pull-right">
      <img src="assets/img/shot01.png" class="img-responsive alignright" alt="" data-effect="slide-right">
    </div>
  </div><! --/row -->
</div><! --/container -->


<! -- ********** BLUE SECTION - PICTON ********** -->
<div id="picton">
  <div class="row nopadding">
    <div class="col-md-6 pull-left">
      <img src="assets/img/shot02.png" class="img-responsive alignleft" alt="" data-effect="slide-left">
    </div>
    <div class="col-md-5 mt">
      <h3>Free Event Marketing through our social channels! </h3> <br>
      <p>Put the word out! We will share your event on our social channels, to 1000s of potential customers!</p>
      <p>We will help you make your event heard on Facebook, Twitter, Instagram, through our pages! </p>
      <p>EventHub will expand the reach of your events, Say good bye to empty seats! All of this Absolutely free!</p>
      <p class="mt"><button class="btn btn-white btn-theme">Insert Social buttons here</button></p>
    </div>

  </div><! --row -->
</div><! --/Picton -->


<! -- ********** BLUE SECTION - CURIOUS ********** -->
<div id="curious">
  <div class="row nopadding">
    <div class="col-md-5 col-md-offset-1 mt">
      <h3>Early Guest List for Hosts </h3>
              <br>
      <p>Yes, EventHub can provide you with your guest list. Is your event a free and open to everyone? or is it only for a limited amount of guests on first come first serve? We got you covered!</p>
      <p>We will provide you with a guest list of the people who registered for your event, all for free! </p>
      <p>Get to know who is attending your event early, plan your event better!</p>
      <!--<p class="mt"><button class="btn btn-white btn-theme">Create Event</button></p>-->
    </div>

    <div class="col-md-6 pull-right">
      <img src="assets/img/shot01.png" class="img-responsive alignright" alt="" data-effect="slide-right">
    </div>
  </div><! --/row -->
</div><! --/curious -->

<!-- ********** BLUE SECTION - MALIBU ********** -->
<div id="malibu">
  <div class="row nopadding">
    <div class="col-md-6 pull-left">
      <img src="assets/img/shot04.png" class="img-responsive alignleft" alt="" data-effect="slide-left">
    </div>
    <div class="col-md-5 mt">
      <h3>Discover Awesome Events!</h3>
      <br>
      <p>EventHub brings Sri Lankan communities together to connect through live experiences. Discover events around you that match your passions or plan and set up your own event – EventHub makes it happen.</p>
      <p>From rock concerts to avurudu festivals, meet-ups and other events, find and attend events that feed your interests and connect with others who share your passions.</p>
      <p class="mt"><button class="btn btn-white btn-theme">Sign Up Now | 14 Days Free</button></p>
    </div>

  </div><! --row -->
</div><! --/Malibu -->


<!-- ********** BLUE SECTION - JELLY ********** -->
    <!--
<div id="jelly">
  <div class="row nopadding">
    <div class="col-md-5 col-md-offset-1 mt">
      <h4>Don't Wait, Try Us Now</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <p class="mt"><button class="btn btn-white btn-theme">Sign Up Now | 14 Days Free</button></p>
    </div>

    <div class="col-md-6 mt centered">
      <h1 data-effect="slide-bottom">24</h1>
      <h3>$ per month</h3>
    </div>
  </div><!--/row -->
</div><!--/Jelly -->

  <!-- FAQ -->
  <section id="faq" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 sol-sm-12">
        <div class="overview animate" data-animate="flipInY"><br>
          <h1 align = "center">Frequently Asked Questions</h1> <br>
          <!--<p class="lead">Quickly build prospective best practices vis-a-vis sticky quality vectors. Dynamically plagiarize viral models before installed base functionalities. </p> -->
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <!--<img class="animate img-responsive" data-animate="fadeInLeft" src="http://placehold.it/1170x484" alt="" style="margin-bottom: 50px;"/>-->
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="faq-block animate" data-animate="fadeInLeft">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    How do I host an event?
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  To host an event you need to first sign up with EventHub, which takes only 2 minutes! then its a matter of clicking the "create event" button on the top right hand corner, and entering your event details!
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    I submitted an event, its not shown in EventHub?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  when you submit an event we go through the event details to confirm its a valid event, if the details seem reasonable, we will publish the event within 24hours! please contact us if its still not visible after 24hours!
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                     How do I join an event?
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  Easy! sign up with EventHub, go to the eventpage of the event you are looking forward to going, click the big "Join Event" button! Done! We will send you a confirmation email upon joining!
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                     I joined an event, didn't get any confirmation email!
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                  Please check the email account you provided to us while signing up with EventHub. still not there? drop us a mail on support@eventhub.lk
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                     My problem is not in the FAQs!
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                  Please drop us a mail on support@eventhub.lk We can gaurantee to solve your issue within 2 hours! Don't hesitate to contact us!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><br> <br>
<!-- FAQ END -->

<!-- ********** FOOTER ********** -->
<!--<div id="f">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 centered">
        <h4 class="mb">Grab Our Offer Now. Try Us For 14 Days Totally Free.</h4>
        <form role="form" action="register.php" method="post" enctype="plain">
            <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
          <button class='btn btn-lg btn-info btn-sub subscribe-submit' type="submit">Yes, Please</button>
        </form>

      </div>

    </div><! --/row -->
  </div><! --/container -->
</div><! --/F -->
-->
<! -- ********** CREDITS ********** -->
<div id="c">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 centered">
        <p>Copyright 2015 | EventHub.lk</p>
      </div>
    </div>
  </div><! --/container -->
</div><! --/C -->
