<div class="container page-container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <h2>About Us</h2>

      <p>
        We believe Sri Lanka needs a truly Sri Lankan platform to manage Events online. A single event you attend
        can change your life forever, and we believe everyone should be given the opportunity to Discover events
        around you that match your passions or plan and set up your own event! We believe in bringing people together!
        We believe in letting you experience life!
      </p>
      <p>
        Welcome to eventhub.lk! The truly Sri Lankan platform for all Sri Lankan events!
      </p>
      <p>
        From rock concerts to avurudu festivals, meet-ups and all kinds of parties, find and attend events that feed
        your interests and connect with others who share your passion!
      </p>
      <p>
        Are you setting up your own event? Here's what we offer!
      </p>

      <br>
      <h4>Event Hosting, Made Easy</h4>

      <p>
        Hosting an event on EventHub only takes a few clicks!
      </p>
      <p>
        Click the big "create event" button, sign in to your account, fill out the details and click the publish button! Done!
      </p>
      <p>
        Within a few hours your event will appear on EventHub, provided the event passes our authenticity check!
      </p>

      <br>
      <h4>Free Event Marketing through our social channels!</h4>

      <p>
        Put the word out! We will share your event on our social channels, to 1000s of potential customers!
      </p>
      <p>
        We will help you make your event heard on Facebook, Twitter, Instagram, through our pages!
      </p>
      <p>
        EventHub will expand the reach of your events, Say good bye to empty seats! All of this Absolutely free!
      </p>

      <br>
      <h4>Early Guest List</h4>

      <p>
        Yes, EventHub can provide you with your guest list. Is your event a free and open to everyone? or is it
        only for a limited amount of guests on first come first serve? We got you covered!
      </p>
      <p>
        We will provide you with a guest list of the people who registered for your event, all for free!
      </p>
    </div>
  </div>
</div>
