<div id="cover">
  <div class="container">
    <div class="row text-center">
      <h1>Discover | Connect | Share</h1>
      <h2>Eventhub is the platform to </h2>
    </div>
  </div>
</div>

<div class="section intro-head">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hero-text-container">
        <h1 class="hero-text">Reach Your Audience</h1>
        <h2 class="hero-sub">Get your event online and reach thousands of people with Eventhub. Instantly!</h2>
      </div>
      <div class="col-md-6">
        <%= image_tag("http://unsplash.it/500/300", class: 'img-responsive hero-img') %>
      </div>
    </div>
  </div>
</div>

<div class="section section-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title">Discover.&nbsp;&nbsp; Connect.&nbsp;&nbsp; Share.</h3>
      </div>
    </div>
  </div>
</div>
