<div class="container page-container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">

      <h2>Privacy Policy</h2>

      <br>
      <em>Privacy is important. We respect yours.</em>

      <br>
      <h4>General information</h4>
      <p>
        This policy sets out our privacy practices and explains how we handle the information we collect when you
        visit and use our site and content provided by us, in existence now or in the future. Please read it carefully.
      </p>

      <br>
      <h4>What we may collect</h4>
      <p>
        We collect information about what pages you access or visit on eventhub.lk, information about your
        device (such as device type or browser type), information volunteered by you (such as through registration),
        the URLs of websites that referred you to us, and e-mail addresses of those who communicate with us via email.
      </p>
      <p>
        When you log into EventHub or load a web page from EventHub, we collect and store your Internet Protocol address.
        We may use this information to fight spam, malware, and identity theft; to personalize EventHub for you; or to
        generate aggregate, non-identifying information about how people use EventHub.
      </p>
      <p>
        When you create your EventHub account, and authenticate via a third-party service like Facebook, we will not collect
        any of your personal information or details of your contacts, other than your Facebook name and the email address
        you have provided on Facebook.
      </p>

      <br>
      <h4>Email communications with us</h4>
      <p>
        We may need to email you on event registration, occasionally some administrative info, tell you something important
        about your account or changes to our services, or update you on new policies. In really tough situations, like when
        we got dumped that one time, we might just need to vent about how unfair life is. Except for that last scenario,
        which won’t actually happen, these administrative communications are considered a basic part of EventHub, and you
        may not be able to opt out from receiving them. You can always opt out of non-administrative emails.
      </p>
      <p>
        We will never email you to ask for your password or other account information. If you receive such an email, send
        it to us so we can take action against the evildoer.
      </p>

      <br>
      <h4>Disclosure of your information</h4>
      <p>
        The information we collect is used to provide and improve EventHub services and content and prevent abuse. We don’t
        sell personal information about our users to any third party.
      </p>
      <p>
        While EventHub endeavors to provide the highest level of protection for your information, we may share your personal
        information with third parties in limited circumstances, including: (1) with your consent; or (2) when we have a
        good faith belief it is required by law, such as pursuant to a subpoena or other judicial or administrative order.
      </p>
      <p>
        If we’re going to release your information, our policy is to provide you with advance notice unless we are prohibited
        from doing so by law or court order. If you do not challenge the disclosure request, we may be legally required to
        turn over your information.
      </p>
      <p>
        We may disclose your information without providing you with prior notice if we believe it’s necessary to prevent
        imminent and serious bodily harm to a person. In that case, we will endeavour to provide you with post-disclosure
        notice when permitted by law.
      </p>
      <p>
        We will independently object to requests for access to information about users of our site that we believe to be improper.
      </p>
      <p>
        If we’re acquired by or merged with another company and your information becomes subject to a different privacy
        policy, we’ll notify you before the transfer. You can opt out of the new policy by deleting your account during
        the notice period.
      </p>

      <br>
      <h4>Public user content</h4>
      <p>
        Content published and shared through EventHub is publicly accessible, which means that everyone, including
        search engines, will be able to see it. This content may also be copied and shared by others throughout the
        Internet, including through features native to EventHub.
      </p>
      <p>
        You are free to remove published event content from your account, or even disable your account entirely.
        However, because of the fundamentally open nature of the Internet, the strong possibility that others will
        comment on or embed your content, and technological limitations inherent to EventHub, copies of your content
        may exist elsewhere indefinitely, including in our systems.
      </p>

      <br>
      <h4>Cookies</h4>
      <p>
        A cookie is a small piece of text, which often includes an anonymous unique identifier, sent to and saved by
        your web browser when you access a website.
      </p>
      <p>
        Cookies enable our servers to recognize your web browser and tell us how and when you use EventHub. We use
        cookies to identify whether you have logged in and recognize that your web browser has accessed aspects of EventHub,
        and we may associate that information with your account if you have one. This information, in turn, is sometimes
        used to personalize your experiences on EventHub when you are logged in.
      </p>
      <p>
        Some other third-party plugins that are used in this site may place their own cookies in your browser. Note that
        this Privacy Policy covers our use of cookies only and not the use of cookies by third parties.
      </p>

      <br>
      <h4>Data Storage</h4>
      <p>
        EventHub is hosted on Digital Ocean, and it provides the necessary hardware, software, networking, storage, and
        related technology we need to run EventHub. Although EventHub owns part of its code, databases, and all rights
        to the EventHub application, you retain all rights to your content.
      </p>

      <br>
      <h4>Modifying your personal information or deleting your account</h4>
      <p>
        If you are a registered EventHub user, you can access or modify your personal information or delete your account
        <%= link_to 'here', edit_user_registration_path %>.
      </p>
      <p>
        Once the account is deleted your data will be permanently unrecoverable.
      </p>

      <br>
      <h4>Data Security</h4>
      <p>
        We use encryption to protect data transmitted to and from our site. However, no data transmission over the Internet
        is 100% secure, so we can’t guarantee the absolute security of this data. You use the service at your own risk,
        and you are responsible for taking reasonable measures to secure your account (such as keeping your password secret).
      </p>

      <br>
      <h4>Changes to this Policy</h4>
      <p>
        EventHub may periodically update this policy. We will notify you about significant changes in the way we treat
        personal information by sending a notice to the primary email address specified in your EventHub account or by
        placing a prominent notice on our site before the changes take effect.
      </p>

      <br>
      <h4>Questions</h4>
      <p>
        We welcome questions, concerns, and feedback about this policy. If you have any suggestions for us, feel free to
        let us know at support@eventhub.lk
      </p>

    </div>
  </div>
</div>
