$font-stack: 'Montserrat', sans-serif;
$body-font-stack: 'Open Sans', sans-serif;
$font-grey: #95a5a6;
$font-black: #222;
$main-red: #e74c3c;
$main-blue: #2e3d4f;
$flat-green: #2ecc71;
$flat-red: #ff6d5e;
$flat-blue: #46CDCF;
$main-red-hover: #E7272D;
$main-dark: #231A31;

$sm-width: 34em;
$md-width: 48em;
$lg-width: 62em;
$xl-width: 75em;

@mixin mquery($size) {
  @if $size == 'xs' {
    @media (min-width: 320px) {
      @content;
    }
  }

  @else if $size == sm {
    @media (min-width: 480px) {
      @content;
    }
  }

  @else if $size == md {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $size == lg {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $size == lg {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin xs {
  @media (min-width: #{$sm-width}) {
    @content;
  }
}
@mixin sm {
  @media (min-width: #{$sm-width}) and (max-width: #{$md-width}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$md-width}) and (max-width: #{$lg-width}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$lg-width}) and (max-width: #{xl-width}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$xl-width}) {
    @content;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack;
  font-weight: 700;
  color: $font-black;
  text-rendering: optimizelegibility;
}

p, div {
  font-family: $body-font-stack;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #f6f6f6;
  // margin-bottom: 60px;
}

::selection { background: $flat-red; }
.footer {
  // position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  // height: 60px;
  background-color: $main-dark;
  border-top: 1px solid rgba(0, 0, 0, 0.1);;

  .container {
    // width: auto;
    // max-width: 680px;
    padding: 2em 1em 0 1em;

    .ruler { border-color: #382C4C; }

    h5 { color: $main-red; font-weight: 400; font-family: $body-font-stack; }
    .site-links {
      padding-left: 0;

      li {
        list-style: none;
        // display: inline-block;
        padding: 5px 5px 5px 0;
        font-size: 12px;

        a { color: $font-grey; transition: color .4s; }
        a:hover, a:focus { color: $main-red; text-decoration: none; }
      }
    }
    .social-link-icons {
      padding-left: 0;

      li {
        display: inline-block;
        list-style: none;
        padding: 5px 5px 5px 0;
        font-size: 24px;

        a { color: $font-grey; transition: color .4s; }
        a:hover, a:focus { color: #fff; text-decoration: none; }
      }
    }

    .footer-logo { padding: 3em 2em; margin: 0 auto;}

    .copy {
      margin-bottom: 30px;
      color: $font-grey;
      font-size: 13px;
    }

    .heart-icon { color: $main-red; padding: 0 4px; }

  }
}




.custom-nav {
  background-color: #fff;
  width: 100%;
  // box-shadow: 0 0 24px 0 rgba(0,0,0,0.25);
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  z-index: 99;

  .menu-profile { text-transform: none; }
  .navbar-nav li {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.5px;

    a {
      transition: color 0.4s;
    }

    a:hover { color: $main-red }
  }
  .navbar-brand {

    color: $main-red;
    font-weight: 700;
  }

  .navbar-nav .navbar-cta {
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 9px;
    margin-bottom: 9px;
    // background-color: #e5e5e5;
    color: $font-grey;
    transition: all 0.3s;
  }

  .navbar-nav .navbar-cta:focus, .navbar-nav .navbar-cta:hover {
    background: $main-red;
    color: #f7f7f7;
    border-color: $main-red;
  }

}

.home-nav {
  background: none;
  position: absolute;
  top: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #555;
}

.icon {
  // vertical-align: bottom;
  padding: 0 8px;
  line-height: 1em;
}

.icon.md-18 { font-size: 18px; }
.icon.md-24 { font-size: 24px; }
.icon.md-36 { font-size: 36px; padding: 0 12px; }
.icon.md-48 { font-size: 48px; }

.header2 {
  padding: 9em 0 1em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  // background-attachment: fixed,	fixed,	fixed;
  background-image: linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  background-position: top left,	center center, center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-image: image-url("5.jpg");

  h1 {
    font-weight: 700;
    font-size: 48px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

    @include mquery(xs) {
      margin: 0 1em;
      line-height: 1.2
    }
    @include mquery(md) {
      margin: 0 3em;
      line-height: 1.4;
    }
  }
  p {
    margin: .3em 0 0 0;
    font-size: 24px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-family: $body-font-stack;
    color: #fff;
  }

  .header-btns {
    margin-top: 1em;
    .btn-cta {
      border-radius: 3px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: .5em ;
      font-size: 18px;
      font-family: $font-stack;
      font-weight: 400;
      border: 2px solid;
      width: 200px;
    }
    .btn-cta--red {
      background-color: $main-red;
      border-color: $main-red;
      transition: all .4s ease;
    }
    .btn-cta--red:hover {
      background-color: $main-red-hover;
      border-color: $main-red-hover;
    }
    .btn-cta--white {
      background-color: #fff;
      border-color: #fff;
      color: $font-grey;
    }
  }
  .down-arrow {
    width: 40px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 6em;
    .arrow {
      width: 40px;
      height: 40px;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAB+ElEQVR4Xu3Z4VHDMAyG4U8TwChsAGwCEzACxwhMQDcBNugoMIE5Q8K1idPYsiTbifOvdw3N+1ROmkDY+UY770cH6BOwc4G+BHY+AP0k2JdAXwI7F+hLYGkAnHPXAJ6I6KXlIXHOPQN4JaKvUEdwAob4dwA3AA5E9NgignPuDcADgCOA+xDCDGASP3Y3h3ASPzYEEc4AFuKbQwjELyL8A6zEN4NwIT6I8AsQGV89QkT8DIES46tFSIg/R3DOfQC4ZZzlqzkxMuLH3E8/Af5S5xGuWkTIiP8GcDeeA5pEyI4nOp5eBZpCkIj3Ez/9HdAEglT8DGC4JFaNIBkfBKgZQTp+EaBGBI34iwA1IWjFrwLUgKAZHwVQEkE7PhqgBIJFfBKAJYJVfDKABYJlPAtAE8E6ng2ggVAiPgtAEqFUfDaABMLwDMI/uk7d/u7nifzTXvYm8p+hzIcqnIMXiReZgPHoDRHE4kUBBJZDzCSIxosDKCOIx6sAKCGoxKsBCCOoxasCCCGoxqsDZCKox5sAMBFM4s0AEhHM4k0BIhFM480BVhDM44sALCAUiS8GMEHwL7Pv6mJ+R4feI3I3yP3w4QYKube03M8vOgE5By25b9EJkAzh/q0OwJXbyn59ArbyTXI7+gRw5bayX5+ArXyT3I4+AVy5rez3A1mrYUfGzknkAAAAAElFTkSuQmCC');
      background-size: contain;
    }
  }
}

.hero-container {
  max-height: 50vh;
  min-height: 300px;
  position: relative;
  // padding: .5em 1em;

  .cover {
    width: 100%;
    height: 50vh;
    min-height: 300px;
  }
  .cover-img{
    display: block;
    // background-image: image-url("1.jpg");
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    background-size: cover;
    background-position: center 50%;
    transform-origin: 50% 100% 0;
    // background: linear-gradient(to right bottom,#D93153,#EB5033,#00ADB5,#EEEEEE);
  }

  .cover-img:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.1) 0,rgba(0,0,0,.4) 95%);
    background-image: linear-gradient(to bottom,rgba(0,0,0,.1) 0,rgba(0,0,0,.4) 95%)
  }

  .cover-text {
    position: absolute;
    // top:50%;left:50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    text-align: center;

    h2 {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.4;
      -webkit-font-smoothing: antialiased;
      letter-spacing: .05em;
      margin: 5px 0;
      color: #fff;
      text-transform: uppercase;
    }
    h3 {
      font-weight: 400;
      margin: 5px 0;
      color: #fff;
    }
  }

  .cover-cta-container {
    margin: 1em 0;

    .btn {
      padding: .6em 1.5em;
      font-size: 1.2em;
      margin: 1em 0.5em;
      color: #fff;
    }

    .btn-cta {
      background: $main-red;
      border: none;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 25px;
      line-height: 1.3em;
      letter-spacing: 0.1em;
    }

    .btn-cta-default {
      background-color: #fff;
      color: #262626;
    }
  }


}

.post-grid {
  margin-bottom: 3em;

  .section-head {
    padding: 1em;

    h3 {
      font-weight: 400;
      margin: 1em 0;
      color: $font-grey;
    }
  }
  .card-container {
    margin: 1rem 0;
  }

  .card {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    // box-shadow: 0 0 8px rgba(0,0,0,0.075);
    transition: 500ms;

    .card-img{
      display: block;
      // width: 100%;
      // height: 80%;
      padding-top: 50%;
      background-image: url(/assets/cover.jpg);
      position: absolute;
      background-size: cover;
      background-position: center center;
      transform-origin: 50% 100% 0;
    }

    img {
      width: 100%;
    }

    a {
      display: block;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      margin: 1em;
    }

    .card-meta {
      padding: 1rem;

      .date {
        vertical-align: top;
        font-size: 1.2em;
        color: $main-red;
        margin-bottom: 5px;

        span { line-height: normal }
      }

      h2 {
        margin: 0 0 .5em 0;
        font-size: 1.7em;
        font-weight: 400;
      }
    }
  }

  .card:hover {
    // box-shadow: 0 0 16px rgba(0,0,0,0.2);
  }

}

.promo-container {
  background-color: $flat-red;

  .inner {
    padding: 2em 0;

    h1 {
      color: #fff;
      font-weight: 300;
      font-family: $body-font-stack;
      line-height: 1.4;
    }

    .btn-cta {
      border-radius: 3px;
      padding: 10px 20px;
      margin: .5em ;
      font-size: 18px;
      font-family: $font-stack;
      font-weight: 400;
      border: 2px solid;
      // width: 200px;
    }
    .btn-cta--white {
      background-color: #fff;
      border-color: #fff;
      color: $flat-red;
      transition: all .4s ease;
    }
  }
}

.event-full {
  // background-color: #fff;
  margin-top: 2em;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;

  img{
    width: 100%;
  }

  .event-cover {
    position: relative;

    .cover-head {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: .5em 1em .5em 1em;
      color: #fff;
      background-image: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 25%, rgba(0,0,0,0.8) 100%);
      background-image: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 25%, rgba(0,0,0,0.8) 100%);
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 25%, rgba(0,0,0,0.8) 100%);

      h1 { color: #fff; }
    }
  }

  .event-meta {
    margin-bottom: 1em;
    background: #fff;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    // background-color: $main-red;
    color: $font-grey;
    // display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      margin: 1em 0;
      vertical-align: text-top;
      font-weight: 400;
    }

    .reg-box { margin-top: 2em }

    .registered-notice {
      padding: .5em;
      border-radius: 25px;
      border: 1px solid $main-red;
      text-align: center;
      color: $main-red;
    }

    .btn {
      padding: .5em 2.5em;
      background: $main-red;
      border: none;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      border-radius: 25px;
      font-size: 1.3em;
      line-height: 1.5em;
    }

    .spots-left { padding-top: 1em }

  }


  .event-body {
    margin-bottom: 1em;

    .col-md-4 { padding-left:0}

    .event-desc {
      padding: 1em;
      margin-bottom: 1em;
      color: $font-black;
      font-size: 18px;
      line-height: 1.7em;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }

    .event-extra {
      padding: 1em;
      margin-bottom: 1em;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      // padding: 1em 0;
      line-height: 1.7em;
      font-size: 16px;
      background-color: #fff;
      border-radius: 4px;
    }

    .event-extra-ticket {
      background-color: $main-red;
      color: #fff;
    }

    .event-extra-card {
      // background-color: #f6f6f6;
      padding: 0 1em 1em 1em;
      border-radius: 5px;
      color: $font-grey;
      border-bottom: 1px solid rgba(0,0,0,.05);
      margin-bottom: 1em;

      em {
        font-weight: 700;
      }

    }

    .event-extra-card:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

  }

  .event-promo {
    padding: 2em 1em;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    background-color: $flat-blue;
    margin-bottom: 1em;

    h4 {
      margin: 0;
      color: #fff;
      line-height: 1.5em;
      font-weight: 400;
      font-size: 1.5em;
      letter-spacing: 1px;
    }

    .btn-promo-cta {
      padding: .6em 1.5em;
      background: #fff;
      border: none;
      font-weight: 700;
      color: $flat-blue;
      text-transform: uppercase;
      border-radius: 25px;
      font-size: 1em;
      line-height: 1.3em;
      letter-spacing: 0.1em;
      margin-top: 1em;
    }

  }


}

.media-thumb {
  width: 64px;
}

.page-container {
  background-color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;

  .new-event-header {
    background-color: $main-red;

    h2 {
      color: #fff;
      margin: 0;
      padding: 0.5em;
    }
  }

  .new-event-container {
    margin-top: 1em;

    label { font-weight: 400 }
  }

  .new-event-tips {
    padding: 1em;

    .tip-card {
      padding: 1em;
      background-color: #efefef;
      border-radius: 4px;

      p { margin: 0}
    }
  }
}

.event-list {

  .media {
    margin-top: 0;
  }

  h4 {
    font-weight: 400;
    line-height: 1.4em;
  }

}

.media-list-custom {

  .media-body {
    width: auto;
    padding-right: 30px;
  }

  .progress-thin { height: 5px; }

  .progress-bar-red { background-color: $main-red; }
}

#map-canvas { height: 300px; margin: 0; padding: 0;}
.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.event-map {
  margin-bottom: 1.5em;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

  .event-map-canvas {
    height: 250px;
  }

}

.ticket-container {
  background-color: #fff;
  margin-top: 1em;
  padding: 0;

  .ticket-container-inner {
    padding: 1em;

    .ticket-sub-head {
      margin-bottom: 0;
      text-transform: uppercase;
      color: $font-grey;
    }

    .ticket-head {
      font-size: 2em;
    }
  }
}

.login-wrapper {
  margin: 3em auto;
  background-color: #fff;
  padding: 1em;

  h3 { margin: 0; line-height: 1.4em; text-align: center;}

  .login-form {
    margin-top: 1.5em;
    // box-shadow: 0 0 2px rgba(49,55,61,0.2);
  }

  .form-control {
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #dedede;
  }

  ::-webkit-input-placeholder {
      color: #dedede;
  }
  :-moz-placeholder {
      color: #dedede;
  }
  ::-moz-placeholder {
      color: #dedede;
  }
  :-ms-input-placeholder {
      color: #dedede;
  }
  .form-control:focus {
    box-shadow: none;
    border-color: $main-red;
  }

  .facebook-login-btn {
    // color: red;
  }
  .btn {
    border: none;
    border-radius: 25px;
  }
  .btn-login { background-color: $main-red; }

  .btn-login:hover, btn-login:focus { background-color: #D94031 }

  .login-links { margin-bottom: 10px; }
}


.etype-select span {
  display:block;
  font-size: .7em;
}

.type-msg { padding: 1em 0; }

.form-section {
  padding: 0 1em;
  margin-bottom: 1em;
}

.custom-brand {
  padding: 10px 12px 12px 20px;
}

.empty-state-icon {
  width: 128px;
}

.btn-primary-cstom {
  background-color: $main-red;
  border: none;
}

.label-main-red {
  background-color: $main-red;
  margin: 0 .2em;
  vertical-align: inherit;
}

.label-main-green {
  background-color: $flat-green;
  margin: 0 .2em;
  vertical-align: inherit;
}

.error-container {
  position: relative;
  left: 0;
  right: 0;
  z-index: 98;
}
.alert {
  border-radius: 0;
  padding: 5px 15px;
  border: none;
  color: #fff;
  margin-bottom: 0;
}
.alert-success {
  background-color: $flat-green;

  p::before {
    font-family: 'Ionicons';
    content: '\f120';
    padding: 0 5px;
  }
}
.alert-danger {
  background-color: $flat-red;

  p::before {
    font-family: 'Ionicons';
    content: '\f100';
    padding: 0 5px;
  }
}

@media ( max-width: 768px ) {
    .hero-container .cover-text h2 {
        font-size: 32px;
        line-height: 1.2;
    }
    .hero-container .cover-text h3 {
        font-size: 22px;
    }
    .hero-container .cover-cta-container .btn-cta {
        margin: .3em;
        font-size: 1em;
    }
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
