$font-stack: 'Open Sans', sans-serif;
$font-grey: #999;
$main-red: #e74c3c;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack;
  font-weight: 700;
}

p, div {
  font-family: $font-stack;
}

body {
  background: #f6f6f6;
}

.custom-nav {
  background-color: #fff;
  box-shadow: 0 0 24px 0 rgba(0,0,0,0.25);
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  z-index: 99;

  li   {
    color: $font-grey;
    text-transform: uppercase;
  }

  .navbar-brand {
    color: $main-red;
    font-weight: 700;
  }

}

.hero-container {
  min-height: 70vh;
  position: relative;
  padding: .5em 1em;

  .cover {
    width: 100%;
    height: 70vh;
  }
  .cover-img{
    display: block;
    background-image: image-url("city-sm.jpg");
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    background-size: cover;
    background-position: center center;
    transform-origin: 50% 100% 0;
  }
  .cover-text {
    position: absolute;
    top:50%;left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;

    h2 {
      font-weight: 400;
      font-size: 5rem;
    }
    h3 {
      font-weight: 400;
    }
  }

}

.post-grid {
  padding-top: 2rem;

  .card-container {
    margin: 1rem 0;
  }
  .card {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.075);
    padding-top: 1em;
    transition: 500ms;

    .card-img{
      display: block;
      // width: 100%;
      // height: 100%;
      padding-top: 50%;
      background-image: url(/assets/cover.jpg);
      position: absolute;
      background-size: cover;
      background-position: center center;
      transform-origin: 50% 100% 0;
    }

    img {
      width: 100%;
    }

    h2 {
      margin: 0 1rem .5rem 1rem;
      font-size: 1.7em;
    }

    a {
      display: block;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      margin: 1em;
    }

    .card-meta {
      padding: 1rem;

      .date {
        // font-weight: 700;
        font-size: 1.2em;
        color: $main-red;
        margin-bottom: 5px;
      }
    }
  }

  .card:hover {
    box-shadow: 0 0 16px rgba(0,0,0,0.2);
  }

}

.notice-bar { margin-top: 2em; }

.event-full {
  background-color: #fff;
  margin-top: 1em;
  padding: 0;

  img{
    width: 100%;
  }

  .event-cover {
    position: relative;

    .cover-head {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 1em .5em 1em;
      color: #fff;
      background-image: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 25%, rgba(0,0,0,0.8) 100%);
      background-image: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 25%, rgba(0,0,0,0.8) 100%);
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 25%, rgba(0,0,0,0.8) 100%);
    }
  }

  .event-meta {
    // background: $main-red;
    margin: 0;
    padding: .5em 0;

    h4 {
      margin: 10px 0;
      // color: #fff;
      font-weight: 400;
    }

    .registered-notice {
      padding: .5em;
      border-radius: 5px;
      border: 1px solid $main-red;
      text-align: center;
      color: $main-red;
    }

    .btn {
      padding: .5em 2em;
      // width: 100%;
      background: none;
      border: 1px solid $main-red;
      color: $main-red;
      font-size: 18px;
    }

    .btn:hover, .btn:focus {
      background: $main-red;
      color: #fff;
    }

  }

  .event-desc {
    padding: 1em;
    line-height: 1.7em;
    font-size: 16px;
  }

  .event-body {
    padding: 0 1em 1em 1em;
  }

}
