$font-stack: 'Montserrat', sans-serif;
$body-font-stack: 'Open Sans', sans-serif;
$font-grey: #777;
$font-black: #333;
$main-red: #e74c3c;
$main-blue: #3498db;
// $main-red: #f63;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack;
  font-weight: 700;
}

p, div {
  font-family: $body-font-stack;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #f6f6f6;
  // margin-bottom: 60px;
}

.footer {
  // position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.1);;

  .container {
    // width: auto;
    // max-width: 680px;
    padding: 0 15px;

    .heart-icon { color: #FF8598 }

    .copy { font-size: 1em; }

    .text-muted {
      margin: 20px 0;
    }
  }

}
.custom-nav {
  background-color: #fff;
  box-shadow: 0 0 24px 0 rgba(0,0,0,0.25);
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  z-index: 99;

  .navbar-nav li {
    color: $font-grey;
    text-transform: none;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.05em;

    a:hover { color: $main-red }
  }


  .navbar-brand {
    color: $main-red;
    font-weight: 700;
  }

  .navbar-nav .navbar-cta {
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 9px;
    margin-bottom: 9px;
    background-color: #e5e5e5;
    color: $font-grey;
    transition: all 0.3s;
  }

  .navbar-nav .navbar-cta:focus, .navbar-nav .navbar-cta:hover {
    background: $main-red;
    color: #f7f7f7;
    border-color: $main-red;
  }

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #555;
}


.hero-container {
  max-height: 22em;
  position: relative;
  padding: .5em 1em;

  .cover {
    width: 100%;
    height: 22em;
  }
  .cover-img{
    display: block;
    background-image: image-url("city-sm.jpg");
    position: absolute;
    top:0;bottom:0;left:0;right:0;
    background-size: cover;
    background-position: center center;
    transform-origin: 50% 100% 0;
  }

  .cover-img:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.1) 0,rgba(0,0,0,.4) 95%);
    background-image: linear-gradient(to bottom,rgba(0,0,0,.1) 0,rgba(0,0,0,.4) 95%)
  }
  .cover-text {
    position: absolute;
    top:50%;left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;

    h2 {
      font-weight: 700;
      font-size: 3.5em;
      letter-spacing: 1px;
      margin: 5px 0;
    }
    h3 {
      font-weight: 400;
      margin: 5px 0;
    }
  }

  .cover-cta-container {
    margin: 1em 0;

    .btn-cta {
      padding: .6em 1.5em;
      background: $main-red;
      border: none;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      border-radius: 25px;
      font-size: 1em;
      line-height: 1.3em;
      letter-spacing: 0.1em;
      margin-right: 1em;
    }

    .btn-cta-default {
      padding: .42em 1.5em;
      background: none;
      border: none;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      border-radius: 25px;
      border: 0.2em solid #fff;
      font-size: 1em;
      line-height: 1.3em;
      letter-spacing: 0.1em;
    }
  }


}

.post-grid {
  padding-top: 2rem;

  .card-container {
    margin: 1rem 0;
  }

  .card {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    // box-shadow: 0 0 8px rgba(0,0,0,0.075);
    transition: 500ms;

    .card-img{
      display: block;
      // width: 100%;
      // height: 80%;
      padding-top: 50%;
      background-image: url(/assets/cover.jpg);
      position: absolute;
      background-size: cover;
      background-position: center center;
      transform-origin: 50% 100% 0;
    }

    img {
      width: 100%;
    }

    a {
      display: block;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      margin: 1em;
    }

    .card-meta {
      padding: 1rem;

      .date {
        // font-weight: 700;
        font-size: 1.2em;
        color: $main-red;
        margin-bottom: 5px;
      }

      h2 {
        margin: 0 0 .5rem 0;
        font-size: 1.7em;
        font-weight: 400;
      }
    }
  }

  .card:hover {
    // box-shadow: 0 0 16px rgba(0,0,0,0.2);
  }

}

.notice-bar { margin-top: 2em; }

.event-full {
  // background-color: #fff;
  margin-top: 2em;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;

  img{
    width: 100%;
  }

  .event-cover {
    position: relative;

    .cover-head {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: .5em 1em .5em 1em;
      color: #fff;
      background-image: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 25%, rgba(0,0,0,0.8) 100%);
      background-image: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 25%, rgba(0,0,0,0.8) 100%);
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 25%, rgba(0,0,0,0.8) 100%);
    }
  }

  .event-meta {
    margin-bottom: 1em;
    background: #fff;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    // background-color: $main-red;
    color: $font-grey;
    // display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      margin: 1em 0;
      // color: #fff;
      font-weight: 400;

    }

    .reg-box { margin-top: 2em }

    .registered-notice {
      padding: .5em;
      border-radius: 25px;
      border: 1px solid $main-red;
      text-align: center;
      color: $main-red;
    }

    .btn {
      padding: .5em 2.5em;
      background: $main-red;
      border: none;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      border-radius: 25px;
      font-size: 1.3em;
      line-height: 1.5em;
    }

    .spots-left { padding-top: 1em }

  }


  .event-body {
    margin-bottom: 1em;

    .col-md-4 { padding-left:0}

    .event-desc {
      padding: 1em;
      margin-bottom: 1em;
      line-height: 1.7em;
      font-size: 1.3em;
      color: $font-black;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }

    .event-extra {
      padding: 1em;
      margin-bottom: 1em;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      // padding: 1em 0;
      line-height: 1.7em;
      font-size: 16px;
      background-color: #fff;
      border-radius: 4px;
    }

    .event-extra-ticket {
      background-color: $main-red;
      color: #fff;
    }

    .event-extra-card {
      // background-color: #f6f6f6;
      padding: 0 1em 1em 1em;
      border-radius: 5px;
      color: $font-grey;
      border-bottom: 1px solid rgba(0,0,0,.05);
      margin-bottom: 1em;

      em {
        font-weight: 700;
      }

    }

    .event-extra-card:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

  }

  .event-promo {
    padding: 2em 1em;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    background-color: $main-blue;
    margin-bottom: 1em;

    h4 {
      margin: 0;
      color: #fff;
      line-height: 1.5em;
      font-weight: 400;
      font-size: 1.5em;
      letter-spacing: 1px;
    }

    .btn-promo-cta {
      padding: .6em 1.5em;
      background: #fff;
      border: none;
      font-weight: 700;
      color: $main-blue;
      text-transform: uppercase;
      border-radius: 25px;
      font-size: 1em;
      line-height: 1.3em;
      letter-spacing: 0.1em;
      margin-top: 1em;
    }

  }


}

.media-thumb {
  width: 64px;
}

.page-container {
  background-color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;

  .new-event-header {
    background-color: $main-red;

    h2 {
      color: #fff;
      margin: 0;
      padding: 0.5em;
    }
  }

  .new-event-container {
    margin-top: 1em;

    label { font-weight: 400 }
  }

  .new-event-tips {
    padding: 1em;

    .tip-card {
      padding: 1em;
      background-color: #efefef;
      border-radius: 4px;

      p { margin: 0}
    }
  }
}

.event-list {

  .media {
    margin-top: 0;
  }

  h4 {
    font-weight: 400;
    line-height: 1.4em;
  }

}

.media-list-custom {

  .media-body {
    width: auto;
    padding-right: 30px;
  }

  .progress-thin { height: 5px; }

  .progress-bar-red { background-color: $main-red; }
}

#map-canvas { height: 300px; margin: 0; padding: 0;}
.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.event-map {
  margin-bottom: 1.5em;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

  .event-map-canvas {
    height: 250px;
  }

}

.ticket-container {
  background-color: #fff;
  margin-top: 1em;
  padding: 0;

  .ticket-container-inner {
    padding: 1em;

    .ticket-sub-head {
      margin-bottom: 0;
      text-transform: uppercase;
      color: $font-grey;
    }

    .ticket-head {
      font-size: 2em;
    }
  }
}

.login-wrapper {
  margin: 3em auto;
  background-color: #fff;
  padding: 1em;
  border-radius: 7px;
  border: 1px solid #dedede;

  h3 { margin: 0; line-height: 1.4em; text-align: center;}

  .login-form {
    margin-top: 1.5em;
    // box-shadow: 0 0 2px rgba(49,55,61,0.2);
  }

  .form-control {
    box-shadow: none;
    border-color: #dedede;
  }

  ::-webkit-input-placeholder {
      color: #dedede;
  }
  :-moz-placeholder {
      color: #dedede;
  }
  ::-moz-placeholder {
      color: #dedede;
  }
  :-ms-input-placeholder {
      color: #dedede;
  }
  .form-control:focus {
    box-shadow: none;
  }

  .facebook-login-btn {
    // color: red;
  }
  .btn { border: none; }
  .btn-login { background-color: $main-red; }

  .btn-login:hover, btn-login:focus { background-color: #D94031 }
}


.etype-select span {
  display:block;
  font-size: .7em;
}

.type-msg { padding: 1em 0; }

.form-section {
  padding: 0 1em;
  margin-bottom: 1em;
}

.custom-brand {
  padding: 10px 12px 12px 20px;
}

.ff {background-color: red}
