.section {
  padding: 80px 0;
}

.intro-head {
  background: linear-gradient(to top right, #31a8e6, #317dd3, #7053c4);

  .hero-text-container {
    margin-bottom: 30px;

    .hero-text {
      font-size: 56px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 900;
    }
    .hero-sub {
      font-size: 36px;
      color: #fff;
      font-weight: 300;
    }
  }

  .hero-img {
  }
}

.section-white {
  background-color: #fefefe;

  .title {
    font-size: 36px;
    font-weight: 900;
  }
}

.hero-image {
  background-size: cover;
  height: 100vh;
  // position: relative;

  .hero-heading {
    font-size: 64px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    position:absolute;
    top:50%;
    text-align:center;
    width:100%;
    color:#fff;
    font-size:36px;
    transform: translate(0,-50%);

  }

  .header{
    position: relative;
  }
}

#cover {
  background: image-url("promo/festival.jpg") no-repeat center center;
  padding-top: 200px;
  min-height: 600px;
  width: 100%;
  background-size: 100%;
  background-size: cover;

  h1 {
    font-size: 72px;
    font-weight: 700;
    color: #fff;
  }
}
